


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap : 10px;
} 
.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media  screen and (max-width: 768px) {
      .container {
      flex-direction: column; 
      padding: 5px;
      margin: 5px o;
      width: 100%;
      height: auto;
    
    }